<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/css/styles.css">
<form action="/addblogs" method="post" >    
<main>
        <sectin class="addblogs-form-container"> <h1> Add Your Blogs </h1><hr> 
        <br>
        
        <label for="Title"></label>
        <input type="text" name="Title" required placeholder="<Title>">
        <br><br></form>
        <br><br>
        <label for="body">Whats </label>
       
        <textarea name="Bodyblog" placeholder="It goes like ..." > </textarea>
        <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    <% if (locals.receive){ %>
        <h1>Your Blog has been added </h1>

    <% } %>
</sectin></main>
    

<%- include("partials/footer.ejs") %>