<%- include("partials/header.ejs") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main  > 
    <section class="body-div">
        <div>
            <%=if(locals.blogs_data){%>
                

            }
            
            %>
        </div>
         <div class="blog-image"> <img  class="backimage" src="images/logo.png" onerror="alert(0)"> </div></section></main>
</body>
<%- include("partials/footer.ejs") %>