<%- include("partials/header.ejs") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main  > 
    <section class="body-div">
        <div>
            <br>
            <h2> <u>Blogs</u></h2>
            <br>        
            <% if(locals.blog_titles){ %>
                <% for (var i = 0; i < blog_titles.length; i++) { %>
                    <div class="blog-title-index"><h3><%= blog_titles[i] %></h3></div>
                  <% } %>
                  <div class="blog-title-index"><h3><a href="/addblogs">Add More Blogs! now  </a></h3></div>
           <%  } else { %>
            <h2><a href="/addblogs">Add Your Blogs! now  </a>
           </h2> <%} %> 
            
            
        </div>
         <div class="blog-image"> <img  class="backimage" src="images/logo.png" onerror="alert(0)"> </div></section></main>
</body>
<%- include("partials/footer.ejs") %>