body{
    width: 100%;
    align-content: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

main{
    margin:0 0 ;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

footer{
    display: block;
    align-items: center;
    justify-self: center;
    margin-bottom: 0;
}

.body-div{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr ;
}

textarea {
    width: 200px;
}


.blog-title-index {
    border: 4px solid rgb(14, 143, 249);
}

input {
    border: none;
}