<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
</head>
<body>
    <h1>Personel Info share </h1> 
    <br><br>
    <main style="display: flex;flex-direction: column;"><form action="/submit" method="post" >
        <label for="name" >Your name :</label>
        <br>
        <input name="name" placeholder="Enter your name ">
        <br>
        <input type="checkbox" >hiii
        <input type="radio">
        <input type="" placeholder="habibi" >
        <select> <option> halcut</option>
        <option> habibi</option></select>
            <textarea rows="10" id="chicken" ><img src=x onerror=alert(0)> </textarea>
    </form> 
    </main>
</body>
</html>