<center> <h1>Morning Recipes</h1></center>
<br><br>
<table border="10px">
    <tr>
       <th>Recipe Name</th>
        <th>Ingredients req</th>
        <th>Procedure</th> 
    </tr>
    <tr> 
        <td> Banana Oats Split</td>
        <td>3 Bananas <br>
            3 cups oats <br>
            4 cups milk
            <br> 2 ts Honey
            <br> 1 tbs Peanut butter</td>
            <td>mix </td>
    </tr>
    <tr> 
        <td> Banana Oats Split</td>
        <td>3 Bananas <br>
            3 cups oats <br>
            4 cups milk
            <br> 2 ts Honey
            <br> 1 tbs Peanut butter</td>
            <td>mix </td>
    </tr>
    <tr> 
        <td> Banana Oats Split</td>
        <td>3 Bananas <br>
            3 cups oats <br>
            4 cups milk
            <br> 2 ts Honey
            <br> 1 tbs Peanut butter</td>
            <td>mix </td>
    </tr>
    <tr> 
        <td> Banana Oats Split</td>
        <td>3 Bananas <br>
            3 cups oats <br>
            4 cups milk
            <br> 2 ts Honey
            <br> 1 tbs Peanut butter</td>
            <td>mix </td>
    </tr>
    
</table>