<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><center><h1>    My personel recipes hehe;(</h1> </center>
    <br>
    <br>
    <h3>Choose which time ka recipe u want </h3>
    <ul> 
        <li> <a href="morning.html" target="iframe"> Morning</a></li>
        <li> <a href="afternoon.html" target="iframe"> Afternoon</a></li>
        <li> <a href="evening.html" target="evening" > Evening</a></li>
        <li> <a href="night.html" target="iframe" > Night </a></li>
        <li><a href="https://static1.squarespace.com:443/static/54e8ba93e4b07c3f655b452e/t/56c2a04520c64707756f4267/1493764650017/" target="iframe">click</a></li>
    </ul>
    <iframe name="iframe" width="10000px" height="600px"></iframe>
</body>
</html>